/* Fuente general */
body {
    font-family: 'Roboto', sans-serif;
}

/* Sección principal */
.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Estilos de tarjeta */
.card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
